* {
	margin: 0%;
	padding: 0%;
}

div {
	display: block;
}

.header_content {
	cursor: pointer;
	color: grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: +1;
}

.header_logo_container {
	display: flex;
	align-items: center;
	padding: 0rem 5rem;
}
.header_logo-sub:hover {
	color: rgb(14, 149, 144) ;
}

.header_logo img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 4px solid rgb(3, 105, 102);
}

.header_logo-sub {
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-left: 1rem;
	font-family: 'Courgette', cursive;
}

.header_sections {
	display: flex;
	padding-right: 2rem;
}

.header_btn {
	margin: 1rem;
	font-size: 1.3rem;
	font-weight: 700;
	text-transform: uppercase;
}

.header_btn a:hover {
	color: rgb(14, 149, 144) ;;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

.icons {
	position: absolute;
	top: 50%;
	border: 2px solid #fff;
	border-left: 2px solid #fff;
	box-shadow: 0 5px 15px 0 #fff;
}

.home_icon_link:hover {
	background-color: white;
}
.home-icon {
	width: 100%;
	display: block;
	border-bottom: 3px solid #fff;
	padding: 1.2rem;
	width: 2rem;
}

.home_sec {
	color: #fff;
	background:rgb(14, 149, 144) ;;
	background-position: center;
	height: 100vh;
	min-height: 50rem;
	max-height: 100rem;
}

.home_sec-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90rem;
	width: 92%;
}

.home_sec-info {
	margin: 3rem 6rem;
	max-width: 80rem;
}

.heading-primary {
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	padding-top: 6rem;
	padding-left: 5rem;
}

.primary-text {
	color: #fff;
	font-size: 2.2rem;
	text-align: center;
	width: 100%;
	line-height: 1.6;
	padding-left: 2rem;
}

body {
	box-sizing: border-box;
	font-family: sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Titillium Web', sans-serif;
	background-color: #fafafa;
}

.about_sec {
	padding: 8rem 0rem;
}
.heading_sec {
	text-align: center;
	display: block;
}
.heading_main {
	display: block;
	font-weight: 800;
	font-size: 2.5rem;
	color: rgb(3, 105, 102) ;
}

.heading_sub {
	font-size: 1.2rem;
	display: block;
	margin-bottom: 5rem;
	color: #777;
}
.about_content {
	display: grid;
	grid-gap: 4rem;
	grid-template-columns: 1fr 1fr;
	padding-left: 2rem;
}
.about_container {
	display: block;
	background-position: center;
	min-height: 20rem;
	max-height: 100rem;
}
.skills {
	display: flex;
	flex-wrap: wrap;
	margin-left: 1.5rem;
	align-items: center;
	margin-right: 0%;
}
.skills_list {
	background-color: rgba(153, 153, 153, 0.2);
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
	padding: 1rem 2rem;
	border-radius: 5px;
	font-weight: 600;
	color: #777;
}
.about_title {
	justify-content: space-between;
	margin-bottom: 2rem;
	font-size: 1.6rem;
	padding-left: 1.5rem;
}

.about_para {
	font-size: 1.3rem;
	color: #777;
	text-align: justify;
}

.about_para a {
	color: rgb(3, 105, 102);
	text-decoration: underline;
	font-weight: 700;
}

.project_sec {
	padding: 8rem 0rem;
	background-color: #fff;
	min-height: 50rem;
	max-height: 100rem;
}

.project_1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5rem;
	margin-bottom: 11rem;
	align-items: center;
	justify-content: space-around;
	padding-top: 3rem;
}

.project_1_img {
	height: 20rem;
	width: 20rem;
	margin-left: 10rem;
	border-radius: 2%;
	border: 5px solid rgb(3, 105, 102);
}

.project_title {
	margin-bottom: 2rem;
	font-weight: 700;
	font-size: 2rem;
	
}

.project_btn{
	background-color:rgb(3, 105, 102) ;
	margin-bottom: 1.5rem;
	padding: 1rem 2rem;
	border-radius: 5px;
	font-weight: 600;
	color: #fff; 
	width: 30%;
	box-shadow: 0 5px 15px 0 #777;
}

.project_details {
	display: flex;
	padding: 4rem 3rem;
	flex-direction: column;
	justify-content: center;
}

.project_des{
	margin-bottom: 3rem;
	color: #777;
	font-weight: 600;
	font-size: 1.4rem;
	text-align:justify ;
}

.contact_sec{
	color: white;
	background-color: black;
}
.footer_img{
	height:50px ;
	width: 50px ;
	margin-right:1rem;
}

.contact_container{
	display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
}

.footer_lower {
  padding: 3rem 0;
  border-top: 1px solid #444;
  color: #eee;
  font-size: 1.2rem;
  text-align: center;
}

.footer_heading{
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.footer_about{
font-size: 1.5rem;
}
